@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #121212; 
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}